{% extends 'base.html.twig' %}

{% block title %}{{ allergen is defined and allergen ? 'Modifier l’allergène' : 'Nouvel allergène' }} - Fourneo{% endblock %}

{% block body %}
	<h1 class="text-title">
		{{ allergen is defined and allergen ? 'Modifier l’allergène' : 'Créer un nouvel allergène' }}
	</h1>
	<div class="main-container">

		{{ form_start(form, {
			attr: {
				class: 'space-y-6 bg-white p-8 rounded-xl shadow-lg'
			}
		}) }}

		<div>
			{{ form_label(form.name, null, {'label_attr': {'class': 'block font-medium text-coffee'}}) }}
			{{ form_widget(form.name, {'attr': {'class': 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500'}}) }}
			{{ form_errors(form.name) }}
		</div>

		<div>
			{{ form_label(form.description, null, {'label_attr': {'class': 'block font-medium text-coffee'}}) }}
			{{ form_widget(form.description, {'attr': {'class': 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500'}}) }}
			{{ form_errors(form.description) }}
		</div>

		<div class="flex justify-end space-x-4">
			<a href="{{ path('allergen_index') }}" class="btn-return">
				<i class="bi bi-arrow-left mr-2"></i>Retour
			</a>
			<button type="submit" class="btn-validation">
				Enregistrer
			</button>
		</div>

		{{ form_end(form) }}
	</div>
{% endblock %}
