<div {{ attributes }}>
	<div class="flex flex-col items-center mb-6">
    <h2 class="text-golden xl font-semibold mb-4 text-center pr-32">Vous souhaitez ...</h2>

    {{ form_start(form, {'attr': {'class': 'w-full max-w-md'}}) }}

    {{ form_row(form.status, {
        attr: {
            'data-action': 'live#action',
            'data-live-action-param': 'filterByStatus',
            'class': 'block w-full rounded-md border border-gray-300 bg-white py-2 px-3 focus:border-coffee focus:ring focus:ring-golden text-coffee'
        }
    }) }}

    {{ form_end(form) }}
</div>


	{% if saleEvents is not empty %}
		<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
			{% for event in saleEvents %}
				<div class="item-card relative p-4 border rounded mb-6">
					<h2 class="text-coffee xl font-semibold mb-2">{{ event.name }}</h2>

					{% if event.description %}
						<p class="text-coffee sm italic mb-2">{{ event.description }}</p>
					{% endif %}

					<p class="text-coffee sm mb-1">
						<strong>Adresse :</strong>
						{{ event.address }}
					</p>

					<p class="text-coffee sm mb-1">
						<strong>Début :</strong>
						{{ event.startDate ? event.startDate|date('d/m/Y H:i') : 'Non défini' }}
					</p>

					<p class="text-coffee sm mb-4">
						<strong>Fin :</strong>
						{{ event.endDate ? event.endDate|date('d/m/Y H:i') : 'Non défini' }}
					</p>

                    {% if status != 'incoming' %}
                    <p class="text-coffee sm mb-4">
						<strong>Météo observée :</strong>
						{{ event.weather ?  event.weather : 'Non renseigné' }}
					</p>
                    {% endif %}

					<div>
						{% if event.productEvents is not empty %}
							<div class="mt-4 pt-4 border-t border-gray-300">
								<h3 class="text-coffee md font-semibold mb-2">Produits mis en vente</h3>
								<ul class="list-disc list-inside text-coffee sm">
									{% for productEvent in event.productEvents %}
										<li>
											{{ productEvent.product.name }}
											- Quantité:
											{{ productEvent.quantity }}
										</li>
									{% endfor %}
								</ul>
							</div>
						{% else %}
							<p class="text-coffee sm mt-4 pt-4 border-t border-gray-300">
								Aucun produit associé à cet événement.
							</p>
						{% endif %}
                        {% if status == 'passed' %}
                        <div class="mt-4 pt-4 border-t border-gray-300 flex justify-end">
							<a href="{{ path('sale_event_show_resume', {id: event.id}) }}" class="btn-action">Voir le bilan</a>
						</div>
                        {% elseif status == 'today' %}
						<div class="mt-4 pt-4 border-t border-gray-300 flex justify-end">
							<a href="{{ path('sale_event_show', {id: event.id}) }}" class="btn-action">Gérer la vente</a>
						</div>
                        {% elseif status == 'incoming' %}
                        <div class="mt-4 pt-4 border-t border-gray-300 flex justify-end">
                            <a href="{{ path('sale_event_edit', {id: event.id}) }}" class="btn-action">Modifier</a>
                        </div>
                        {% endif %}
					</div>
                    {% if status == 'incoming' %}
					<div class="absolute top-2 right-2 flex gap-2">
						{# <a href="{{ path('sale_event_edit', {id: event.id}) }}" class="btn-edit" title="Modifier">
							<i class="bi bi-pencil-square text-coffee lg"></i>
						</a> #}
						<form method="post" action="{{ path('sale_event_delete', {id: event.id}) }}" onsubmit="return confirm('Confirmer la suppression ?');">
							<input type="hidden" name="_method" value="DELETE">
							<input type="hidden" name="_token" value="{{ csrf_token('delete_sale_event_' ~ event.id) }}">
							<button type="submit" class="btn-delete" title="Supprimer">
								<i class="bi bi-trash text-lg"></i>
							</button>                            	
						</form>
					</div>
                    {% endif %}
				</div>
			{% endfor %}
		</div>
	{% elseif status is null %}
		<div class="flex justify-center">
			<a href="{{ path('sale_event_new') }}" class="btn-validation">Créer un événement</a>
		</div>
	{% else %}
		<div class="border-2 border-l-4 border-salmon p-4 bg-flour rounded-lg">
			<div class="flex">
				<div class="flex-shrink-0">
					<i class="bi bi-info-circle-fill text-salmon text-xl"></i>
				</div>
				<div class="ml-3">
					<p class="text-sm text-coffee">
						Aucun événement trouvé pour ce statut.
					</p>
				</div>
			</div>
		</div>
	{% endif %}
</div>
