<div {{ attributes }}>
	{{ form_start(form, {
        attr: {
            class: 'item-card space-y-4'
        }
    }) }}

	<div>
		{{ form_label(form.name, null, {'label_attr': {'class': 'block font-medium '}}) }}
		{{ form_widget(form.name, {'attr': {'class': 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500'}}) }}
		{{ form_errors(form.name) }}
	</div>

	<div>
		{{ form_label(form.size, null, {'label_attr': {'class': 'block font-medium '}}) }}
		{{ form_widget(form.size, {'attr': {'class': 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500'}}) }}
		{{ form_errors(form.size) }}
	</div>

	<div>
		{{ form_label(form.price, null, {'label_attr': {'class': 'block font-medium '}}) }}
		{{ form_widget(form.price, {'attr': {'class': 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500'}}) }}
		{{ form_errors(form.price) }}
	</div>

	<div>
		{{ form_label(form.priceUnit, null, {'label_attr': {'class': 'block font-medium '}}) }}
		{{ form_widget(form.priceUnit, {'attr': {'class': 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500'}}) }}
		{{ form_errors(form.priceUnit) }}
	</div>

	<div>
		{{ form_label(form.category, null, {'label_attr': {'class': 'block font-medium  mb-2'}}) }}
		{{ form_widget(form.category, {'attr': {'class': 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500'}}) }}
		{{ form_errors(form.category) }}
	</div>

	<div>
		{{ form_label(form.allergens, null, {'label_attr': {'class': 'block font-medium  mb-2'}}) }}
		{{ form_widget(form.allergens, {'attr': {'class': 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500'}}) }}
		{{ form_errors(form.allergens) }}
	</div>

	<div class="space-y-2">
		<div class="flex items-center space-x-3">
			{{ form_widget(form.isNewCategory, {'attr': {'class': 'h-5 w-5 text-blue-600'}}) }}
			{{ form_label(form.isNewCategory, null, {'label_attr': {'class': 'font-medium  cursor-pointer'}}) }}
		</div>
		{% if form.isNewCategory.vars.checked %}
			<div>
				{{ form_widget(form.newCategory, {
                    'attr': {
                        'class': 'mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500',
                        'placeholder': 'Entrez le nom de la nouvelle catégorie'
                    }
                }) }}
				{{ form_errors(form.newCategory) }}
			</div>
		{% endif %}
	</div>

	<div class="flex justify-end space-x-4">
		<a href="{{ path('product_index') }}" class="btn-return">
			<i class="bi bi-arrow-left mr-2"></i>Retour
		</a>
		<button type="button" data-action="live#action:prevent" data-live-action-param="save" class="btn-validation">
			Enregistrer
		</button>
	</div>

	{{ form_end(form) }}
</div>
