{# templates/sale_event/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Détails de la vente :
	{{ saleEvent.name }}
{% endblock %}

{% block body %}
	<h1 class="text-title">Gérer la vente</h1>

	<div class="main-container bg-flour p-8">
		<div class="flex justify-center md:justify-end space-x-4 mb-6">
			<a href="{{ path('sale_event_index') }}" class="btn-return">
				<i class="bi bi-arrow-left mr-2"></i>Retour
			</a>
			<a href="{{ path('sale_event_edit', {'id': saleEvent.id}) }}" class="btn-validation">
				<i class="bi bi-pencil-square mr-2"></i>Modifier
			</a>
		</div>
		<h2 class="text-2xl font-semibold  mb-6">{{ saleEvent.name }}</h2>

		{# <h2 class="text-2xl font-semibold  mb-8 mt-6">Produits associés</h2> #}

		{% if saleEvent.productEvents is not empty %}
			{{ component('Form:saleEventFormCollection', { saleEvent: saleEvent }) }}     
		{% else %}
			<p class="text-gray-600">Aucun produit n'est associé à cet événement.</p>
		{% endif %}
	</div>
{% endblock %}
