{# templates/sale_event/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Détails de l'événement :
	{{ sale_event.name }}
{% endblock %}

{% block body %}
	<h1 class="text-title">Détails de l'événement</h1>
	<div class="main-container bg-flour">
		<div class="flex flex-col sm:flex-row sm:justify-between sm:items-center gap-4">
			<h2 class="text-2xl font-semibold text-coffee mb-4">{{ sale_event.name }}</h2>
			<div class="space-x-4">
				<a href="{{ path('sale_event_index') }}" class="btn-back">
					<i class="bi bi-arrow-left mr-2"></i>Retour à la liste
				</a>
				<a href="{{ path('sale_event_edit', {'id': sale_event.id}) }}" class="btn-validation">
					<i class="bi bi-pencil-square mr-2"></i>Modifier
				</a>
			</div>
		</div>
		<div class="flex justify-between items-center mb-6"></div>
		<p class="text-coffee mb-2">
			<strong class="font-medium text-coffee">Description :</strong>
			{{ sale_event.description|default('N/A') }}</p>
		<p class="text-coffee mb-2">
			<strong class="font-medium text-coffee">Adresse :</strong>
			{{ sale_event.address|default('N/A') }}</p>
		<p class="text-coffee mb-2">
			<strong class="font-medium text-coffee">Début :</strong>
			{{ sale_event.startDate ? sale_event.startDate|date('d/m/Y H:i') : 'Non défini' }}</p>
		<p class="text-coffee mb-2">
			<strong class="font-medium text-coffee">Fin :</strong>
			{{ sale_event.endDate ? sale_event.endDate|date('d/m/Y H:i') : 'Non défini' }}</p>


		<h2 class="text-2xl font-semibold text-coffee mb-4">Produits associés</h2>

		{% if sale_event.productEvents is not empty %}
			{{ form_start(unsold_form) }}
			<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
				<table class="w-full text-sm text-left">
					<thead class="text-xs text-coffee uppercase bg-coffee text-flour">
						<tr>
							<th class="py-3 px-6">Nom du produit</th>
							<th class="py-3 px-6 text-center">Quantité Initiale</th>
							<th class="py-3 px-6 text-center">Invendus</th>
							<th class="py-3 px-6 text-center">Prix unitaire</th>
							<th class="py-3 px-6 text-center">Prix du lot</th>
							<th class="py-3 px-6 text-center">Gains</th>
							<th class="py-3 px-6 text-center">Pertes</th>
							<th class="py-3 px-6 text-center">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for productEventForm in unsold_form.productEvents %}
							{% set productEvent = productEventForm.vars.data %}
							<tr class="bg-white border-b hover:bg-gray-50">
								<td class="py-4 px-6 font-medium text-coffee whitespace-nowrap">
									{{ productEvent.product.name }}
								</td>
								<td class="py-4 px-6 text-center">
									{{ productEvent.quantity }}
								</td>
								<td class="py-4 px-6 text-center">
									{{ form_widget(productEventForm.unsoldQuantity) }}									
									{{ form_errors(productEventForm.unsoldQuantity) }}
								</td>
								<td class="py-4 px-6 text-center">
									{{ productEvent.product.price|number_format(2, ',', ' ') }}
									€
								</td>
								<td class="py-4 px-6 text-center">{{ productEvent.lotPrice|number_format(2, ',', ' ') }}</td>
								<td class="py-4 px-6 text-center">
									{{ (productEvent.lotPrice - productEvent.unsoldPrice)|number_format(2, ',', ' ') }}
								</td>
								<td class="py-4 px-6 text-center">{{ productEvent.unsoldPrice|number_format(2, ',', ' ') }}</td>
								<td class="py-4 px-6 text-center">
									{% if productEvent.unsoldQuantity is same as(0) %}
										<span class="text-red text-sm italic mr-2">Épuisé</span>
									{% else %}
										<a href="{{ path('sale_event_product_event_out_of_stock', {'id': productEvent.id}) }}" class="btn-action">
											Rupture
										</a>
									{% endif %}
									{% if productEvent.unsoldQuantity == 0 and productEvent.outOfStockDateTime %}
										<div class="text-xs text-gray-400 mt-1">
											depuis le
											{{ productEvent.outOfStockDateTime|date('d/m/Y H:i') }}
										</div>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div class="mt-6 flex justify-end">
				<button type="submit" class="btn-validation">
					Enregistrer les invendus
				</button>
			</div>
			{{ form_end(unsold_form) }}
		{% else %}
			<p class="text-gray-600">Aucun produit n'est associé à cet événement.</p>
		{% endif %}
	</div>
{% endblock %}
